.inner
  .logo
      img(src='images/github_logo.svg', height='250', width='250')
      h1.masthead-title!= title
      h2.masthead-subtitle!= subtitle
      hr
      #mc_embed_signup
        p!= message
